* {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@font-face {
  src: url("../assets/fonts/HelveticaNeue.ttf");
  font-family: "Helvetica Neue";
}

@font-face {
  src: url("../assets/fonts/Helvetica-Neue-Condensed-Black_22499.ttf");
  font-family: "Helvetica Neue - Condensed Black";
}

@font-face {
  src: url("../assets/fonts/HelveticaNeueCyr-Thin.ttf");
  font-family: "Helvetica Neue - Thin";
}

@font-face {
  src: url("../assets/fonts/HelveticaNeueBold.ttf");
  font-family: "Helvetica Neue - Bold";
}
