.header {
    background-image: url("https://i.imgur.com/7MKuGUd.jpg");
    background-size: cover;
    background-position: center center;
    height: 35%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0px 150px 50px rgba(0,0,0,0.7),
    inset 0px -150px 100px rgba(0,0,0,0.7)
;
}

.label {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-family: "Helvetica Neue - Condensed Black";
    font-size: 32px;
    text-transform: uppercase;

    .thick-text {
        font-family: "Helvetica Neue";
        font-weight: 600;
        letter-spacing: 1px;
    }

    .thin-text {
        font-family: "Helvetica Neue - Thin";
        font-weight: 100;
        letter-spacing: 1px;
    }
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
    background-image: url("https://imgur.com/qvFwi6Y");
    background-position: top;
    background-size: cover;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

.authorization {
    display: flex;
}

.options {
    display: flex;
    align-items: flex-end;
}

.title {
    /* Style for "The Jungle" */
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "T, he Jung" */
    letter-spacing: 2.4px;
}

.genre-and-duration {
    display: flex;
    color: #ffffff;
    font-family: "Helvetica Neue";

}

.raiting {
    color: #ffffff;
    font-family: "Helvetica Neue";
}

.btn {
    //for text
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 400;
    /* Text style for "S, ign Up" */
    letter-spacing: 1px;

    //for button
    width: 7em;
    height: 2em;
    border-radius: 6px;
    margin: 0.5em;
    &.primary {
        background-color: #0aaee4;
        border: 2px solid transparent;

    }

    &.secondary {
        background-color: Transparent;

        &.hidden {
            border: 2px solid transparent;
        }
    }
}